* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "consolas";
	font-size: 1em;
}

body {
	background-color: #ffffff;
	padding: 0.5em;
}

#uploadArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.uploadButton {
	text-decoration: underline;
	background: none;
	padding: 0.1em;
	border: none;
	cursor: pointer;
	margin-bottom: 0.25em;
}

.uploadHidden {
	display: none;
}

#inputArea {
  margin: 1.5em 0 0.5em 0;
}

#parseArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 0.1em;
  row-gap: 0.1em;
}

.box {
  outline: 1px solid black;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

