@font-face {
	/*
  font-family: "Consolas";
  src: url('../fonts/consolas-webfont.svg') format('svg');
  src: url('../fonts/Consolas.woff2') format('woff2');
  src: url('../fonts/Consolas.ttf') format('truetype');
  
  src: url("fonts/NotoMono-Regular.woff2") format("woff2");
  src: url("fonts/Consolas.eot") format("eot");

  font-family: "Noto Mono";
  src: url('../fonts/NotoMono-Regular.ttf') format('truetype');
*/
	font-family: "DejaVu Sans";
  src: url('../fonts/DejaVuSans-webfont.woff') format('woff');
}

/*
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Consolas";
    src: url("fonts/consolas-webfont.svg") format("svg");
  }
}
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DejaVu Sans", "Noto Mono", "Consolas", "Noto Sans","Open Sans", sans-serif;
	font-size: .975em;
}

:root {
	--title-bar-color: gainsboro;
	--highlight-color: lightgray;
	--active-tab-color: #eee;
	--body-background-color: white; 
}

body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background: var(--body-background-color); /*rgb(3,78,162)*/
	height: 100vh;
	max-height: 100vh;
}

.title {
	width: 100%;
	position: relative;
	background-color: var(--title-bar-color); /*gainsboro, rgb(255,211,0)*/
	margin: 0 0 1em 0;
	display: flex;
	justify-content: space-between;
	flex: 0 1 auto;
	max-height: 10vh;
}

.title-left {
	display: flex;
	align-items: center;
	font-variant: small-caps;
	cursor: pointer;
}

.title-text {
	width: fit-content;
	font-size: 2em;
	margin: 0 0.4em 0 0;
	padding: 0 0.3em 0 0.1em;
	color: #333;
	font-variant: small-caps;
	background: white;
}

.statsBtn {
	color: #666;
}

.title-right {
	display: flex;
	align-items: center;
}

.colorChangeButton {
	height: 1em;
	width: 1em;
	margin-right: 1em;
	background: #bbb;
}

.logo {
	font-size: 1.5em;
	margin-right: 0.2em;
	color: gray;
}

a:link {
	text-decoration: none;
	color: gray;
}

a:visited {
	color: dimgray;
}


.tabbedContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	width: max-content;
	background: #DFDFDF;
	margin-bottom: 1em;
	min-height: 0;
	border: 1px solid darkgray;
}

.tabBar {
	align-self: start;
	display: flex;
	background: #EEE;
}

.tabNavBtn {
	padding: 0.25em 0.5em;
	border-bottom: none;
	border-right: 1px solid darkgray;
	background: white;
}

.tabNavBtn:focus {
	outline: gray;
}

.tabNavBtn1 {
	z-index: 2;
	background: var(--active-tab-color)/*rgb(287,28,36) gainsboro*/;
}

.tabNavBtn2 .tabNavBtn3 .tabNavBtn4 {
	z-index: 1;
	border-left: none;
}

.mainContainer {
	display:flex;
	border: 0.1em solid var(--highlight-color);
	border-top: none;
  width: 100%;
	min-height: 0;
}

.tabArea {
	display: flex;
	background: #eee;
	flex-direction: column;
	align-items: center;
	padding: 0.3em 0.25em;
	width: 100%;
}

input[type=text]:focus, textarea:focus {
	outline: 1px solid #9dd0e1;
	outline-offset: -1px;
	/*box-shadow: inset 2px 2px 2px blue;*/
}

.parseResultField {
	width: 100%;
	height: 2em;
	padding: 0 0.2em;
	background: white;
	font-size: 1.2em;
	display: flex;
	justify-content: start;
	align-items: center;
	border: 1px solid lightgray;
}
	
.inputContainer {
	width: 100%;
	margin: 0.2em 0;
	display: flex;
}

.searchField {
	width: 100%;
	background: white;
}

.submitButton {
	background: white;
	cursor: pointer;
}

/*PARSING DISPLAY*/
.gridDisplay {
	display: grid;
	grid-template-columns: repeat(3, minmax(min-content, max-content));
	/*grid-template-columns: 1fr 1fr 1fr;*/
	grid-auto-flow: row;
	grid-auto-columns: max-content;
	column-gap: 2em;
	/*background: #fff;*/
	/*width: 100%;*/
	/*padding: 0.25em;*/
}

.tabArea2, .tabArea3, .tabArea4 {
	display: none;
}

.tabArea2 {
	align-items: stretch;
}

.addMorphemeContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.addAffixContainer {
	margin-top: 0.25em;
}

#uploadArea {
	margin-top: 1em;
	display: flex;
	justify-content: start;
}

.button {
	background: #fff;
	padding: 0.1em 0.2em 0.1em 0.2em;
	border: 0.1em outset lightgray;
	cursor: pointer;
}

.uploadAffixes {
	margin-left: 0.5em;
}

.uploadHidden {
	display: none;
}

.opsArea {
	display: flex;
	flex-direction: column;
	flex-basis: fit-content;
	padding: 1em;
	border: 1px solid black;
	margin: 1em 0 1.5em 0;
}

.utilsHeader {
	font-weight: bold;
	margin: -0.5em 0 0.5em -0.5em;
}

.utilsArea {
	margin: 0 0 0.75em 0;
	display: flex;
	flex-direction: column;
}

.utilsRow {
	display: flex;
}

/*dictionary lookup rules*/
.dictSearchCounter {
	display: flex;
}

.dictSearchHeader {
	align-self: start;
	font-weight: bold;
	margin: 0.2em 0 0.1em 0;
}

.dictSearchDesc {
	font-weight: normal;
}

.dictSearchResults {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	overflow: auto;
	padding-right: 1em;
}

.dictSearchNum {
	display: none;
	font-weight: normal;
	width: 10px;
}

.dictGridDisplay {
	margin: 0 0 0 0em;
}

.statsGrid {
	display: none;
	flex-direction: column;
	position: fixed;
	left: 1em;
	top: 4em;
	z-index: 5;
	background: white;
}

.statsGridBody {
	display: grid;
	grid-template-columns: repeat(2, minmax(min-content, max-content));
	grid-auto-flow: row;
	grid-auto-columns: max-content;
	column-gap: 1em;
}

.presentArea {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 4em 0 0 0;
  font-size: 1.5em;
  overflow: auto;
  height: 45vh;
}

.consoleArea {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background: #eee;
}

.consoleTitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1em 0.1em 0.1em 0.1em;
}

.hideConsoleBtn {
	text-decoration: underline;
	color: dimgray;
	cursor: pointer;
}

.console {
	display: none;
  min-height: 10em;
  width: 100%;
  border: 1px solid gainsboro;
  padding: 0.5em;
}

.superscript {
	font-size: .75em;
}
