* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "consolas";
	font-size: 1em;
}

body {
	background-color: #ffffff;
	padding: 0.5em;
}

#uploadArea {
	display: flex;
	justify-content: start;
}

.button {
	text-decoration: underline;
	background: none;
	padding: 0.1em;
	border: none;
	cursor: pointer;
	margin-bottom: 0.25em;
}

.uploadAffixes {
	margin-left: 1em;
}

.uploadHidden {
	display: none;
}

#inputArea {
  margin: 1.5em 0 0.5em 0;
}

.textInput {
	background: white;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
}

#submitInput {
	background: none;
	cursor: pointer;
}

#parseArea {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	column-gap: 1.5em;
	padding-bottom: 1em;
}
