* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans";
  font-size: 100%;
  color: white;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: #dde;
}

.header {
  color: #8cd;
  font-size: 2em;
  background-color: #777;
}

.main-body {
  width: 100%;
  display: flex;
}

.main-box {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  flex-basis: content;
  
  background-color: #6ab;
}

.main-left {
  flex-grow: 10;
}

.search {
  display: flex;
  flex-basis: content;
  
}

.search input {
  flex-grow: 20;
  height: 2.5em;
  padding: 0.5%;
  background-color: #999;
  border: none;
}

.search button {
  flex-grow: 1;
  font-weight: bold;
  background-color: #6ab;
  border: 2px solid white;
}

.parse-area {
  text-align: center;
  font-size: 170%;
  padding-bottom: 1%;
  background-color: #6ab;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parse-display {
  min-height: 2em;
  
}

.display-title {
  font-size: 40%;
  font-weight: bold;
  margin: 0 0 0 0.4em;
  display: flex;
  margin-right: 1%;
}

.display-content {
  padding: 0.5%;
  margin: 0 1%;
  min-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #59a;
}

.main-right {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #59a;
}

.pannel {
  display: flex;
  flex-direction: column;
  background-color: #59a;
}

.roots {
  border-right: 2px solid white;
}

.title {
  border-bottom: 2px solid white;
  padding: 0.25em;
  text-align: center;
}

.word-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: content;
  padding: 10%;
}