* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans";
  font-size: 100%;
  color: white;
}

html {
  height: 100vh;
  width: 100vw;
  padding: 2em;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: #dde;
  border: 2px solid #777;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #777;
}

.header h2 {
  color: #8cd;
  font-size: 2em;
}

.header label {
  display: flex;
  font-weight: bold;
  padding: 1em;
}

.header input {
  display: none;
}

.search {
  display: flex;
  background-color: #777;
}

.search input {
  flex-grow: 20;
  height: 2.5em;
  padding: 0.5%;
  background-color: #999;
  border: none;
}

.search button {
  flex-grow: 1;
  font-weight: bold;
  background-color: #6ab;
  border: 2px inset white;
  cursor: pointer;
}

.tab-nav {
  height: 3em;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.tab-button {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  cursor: pointer;
}

.tab-container {
  display: flex;
  flex: 0 1 100%;
  background-color: cadetblue;
}

label {
  cursor: pointer;
  background-color: gray;
}

input[type=radio], .tab {
  display: none;
}

input[type=radio]:checked + label {
  background-color: dimgray;
}

input[type=radio]:checked + label + .tab {
  display: flex;
}

.parse-area {
  text-align: center;
  font-size: 170%;
  padding: 1% 0%;
  background-color: #6ab;
  flex-direction: column;
  justify-content: start;
}

.parse-display {
  min-height: 2em;
}

.display-title {
  font-size: 40%;
  font-weight: bold;
  margin: 0 0 0 0.4em;
  display: flex;
  margin-right: 1%;
}

.display-content {
  padding: 0.5%;
  margin: 0 1%;
  min-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #59a;
}

.morpheme-area {
  
}

.pannel {
  display: flex;
  flex-direction: column;
  background-color: #59a;
  flex-shrink: 1;
}

.affixes {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.title {
  border-bottom: 2px solid white;
  padding: 0.25em;
  font-weight: bold;
  text-align: center;
}

.word-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
}