* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono";
}

body {
  display: flex;
  flex-basis: fill;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  border: 1px solid black;
  align-items: stretch;
}

.title {
  display: flex;
  justify-content: center;
}

.canvas {
  display: flex;
  flex-grow: 1;
  flex-basis: fill;
  border: 1px solid black;
  justify-content: center;
  align-items: center
}
