* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono";
}

body {
  display: flex;
  flex-basis: fill;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  align-items: stretch;
}

.title {
  display: flex;
  justify-content: center;
}

.canvas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: fill;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2em;
}

#rule-name {
  margin: 0.5em;
}

#rule {
  padding: 1em;
  border: 1px solid black;
}